{% set page = 'history' %}
{% extends 'base.html' %}


{% block content %}
    {% if req %}
        <form method="post">
          <h3> Выберите запрос </h3>
         <div class="form-group">
         <p><select size="10" name="request">
            {% for item in req %}
                <option>{{ item }}</option>
            {% endfor %}
         </select></p>
         <button type="submit" class="btn btn-primary">Поиск</button>
         </div>
        </form>
           <h5> Выберите запрос или начните новый Поиск </h5>
    {% else %}
        <h5> Запросов нет. Начните Поиск.</h5>
    {% endif %}
{% endblock %}