{% set page = 'index' %}
{% extends 'base.html' %}


{% block content %}
                <h3>Назначение системы </h3>
                Система находит наиболее актуальные навыки для какой либо вакансии (hh api)
                <br/> <br/>
                <h3> Принцип работы системы </h3>
                Система будет получает данные по вакансиям используя заданные параметры (город, название вакансии).
                После того как получены описания всех вакансий по заданным параметрам, система производит следующий анализ:
                <br/>
                1. Сколько всего вакансий
                <br/>
                2. Все требования к данному типу вакансий
                <br/>
                3. В скольких вакансиях указано данное требование (сортируем по убыванию)
                 <br/> <br/>

                История запросов сохраняется в базе данных

{% endblock %}