{% set page = 'search' %}
{% extends 'base.html' %}


{% block content %}
    <form method="post">
            <div class="form-group">
                <label for="vacancy">Регион</label>
                <input type="input" name="region" class="form-control" id="region" placeholder="Введите название региона">
                <small id="region_hint" class="form-text text-muted">по умолчанию Москва</small>
            </div>
            <div class="form-group">
                <label for="vacancy">Вакансия</label>
                <input type="input" name="vacancy" class="form-control" id="vacancy" placeholder="Введите название вакансии">
                <small id="vacancy_hint" class="form-text text-muted">по умолчанию python developer</small>
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
{% endblock %}